<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Авторизация</title>
    <link rel="stylesheet" href="style.css">
</head>
<body class="reg">
<div id="app">
    <div class="error" v-if=error>
        {{error}}
    </div>
     <form action="#" method="post" v-on:submit.prevent="login">
{{message}}

    <div class="vos"><p>Восстановить пароль</p>  </div>  
        <label>Email</label>
        <input v-model="email" type="email" name="email" id="email" placeholder="Введите ваш email">
        <input type="submit" value="Отправить код на почту">    
    </form>
</div>

   
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <script src="script.js"></script>
</body>
</html>